    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>&copy; 2019 bradyanderson.tech</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/javascript/libs/jquery-3.2.0.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="/javascript/libs/bootstrap.min.js"></script>

    <!-- jQuery Easing -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme -->
    <script src="/javascript/main.js"></script>

</body>

</html>