<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Brady Anderson's Portfolio Website">
    <meta name="author" content="Brady Anderson">

    <title>bradyanderson.tech</title>

    <!-- Bootstrap CSS -->
    <link href="/stylesheets/libs/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="/stylesheets/libs/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/stylesheets/main.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    
    <!-- Navbar -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-code" aria-hidden="true"></i> bradyanderson.tech
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Landing -->
    <header class="landing">
        <div class="landing-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="landing-head">Hello, I'm Brady</h1>
                        <p class="landing-text">Computer Science Major at Louisiana Tech University</p>
                        <a href="#about" class="btn btn-show page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>