<% include partials/header_landing %>

    <!-- About Me -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <img id="about-img" src="./img/techxxii.jpg">
            </div>
            <div class="col-md-5 col-md-offset-1" id="about-text">
                <h2>About Me</h2>
                <p>I'm Brady, a third-year computer science student.  I grew up in Normal, Illinois, but now attend college at Louisiana Tech University in Ruston, Louisiana.  I have a deep passion for all aspects of technology, but focus most of my attention on programming.  In the future, I aspire to be a software developer, game developer, or data scientist.  There are just too many exciting options to choose from right now.</p>
            </div>
        </div>
    </section>

    <!-- Projects -->
    <section id="projects" class="content-section text-center">
        <div class="project-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p>Feel free to check out my <a href="https://github.com/bradyaanderson">Github</a> for a few small projects.  The full code for this website can also be found on there.  Most of my recent projects are work-related, but I'll try to add more personal projects soon.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="container content-section contact-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Here's my email:</p>
                <p><a href="mailto:bradya48@gmail.com">bradya48@gmail.com</a></p>
                <p>You can also find me here:</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://facebook.com/bradyaanderson" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/bradyaanderson" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

<% include partials/footer %>
